<h1>Images</h1>

<h4>You are now logged in, {{name}}!</h4>

<h4>Would you like to create a TShirt?</h4>

<form class='form'>
	<div class="form-group color">
    	<label for="exampleSelect1">Choose your color</label>
	    <select class="form-control" id="exampleSelect1">
	        <option>black</option>
	        <option>blue</option>
	        <option>green</option>
	        <option>pink</option>
	        <option>purple</option>
	        <option>red</option>
	        <option>yellow</option>
        </select>
  	</div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>



<input type="file" id="input">

<div id='image'></div>